/*@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
header{
    height: 15vh; /*tamanho do header
    display: flex;
    justify-content: space-between;
    background-color: #00367f;
    box-shadow: 0 0 1rem black; /*tirar essa sombra depois
}
ul{
    display: flex;
    margin: 39px; /*margin do menu home, sobre nós...
    color: black;



}
li{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding-left: 5rem;

}
li2{
    color: black;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;

}