/* About.css */

.about {
    padding: 80px 0;

}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    flex: 1;
    text-align: center;
}

.about-title {
    color: #000000d3;
    font-size: 50px;
    margin-bottom: 0px;
    padding: 0;
}

.about-subtitle {
    color: #181818;
    font-size: 25px;
    line-height: 1.6;
    padding: 0 10%;
    text-align: center;
    
}

.about-subtitle::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(0, 54, 127);
    margin: 0 auto 35px;
}

.about-image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}
