.assessments {
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 100px;
    text-align: center;
}

.assessments p {
    color: #181818;
    margin: 0 0 50px;
    font-size: 25px;
    padding: 0 px;
    text-align: center;
}